## Agregar datos por categoría

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
gender = ["Male", "Female"]
income_status = ["Poor", "Midle Class", "Rich"]

In [ ]:
n = 500
gender_data = []
income_data = []

for i in range(0, n):
    gender_data.append(np.random.choice(gender))
    income_data.append(np.random.choice(income_status))

In [ ]:
# Usamos una distribución normal
height = 160 + 30 * np.random.randn(n)
weight = 65 + 25 * np.random.randn(n)
age = 30 + 12 * np.random.randn(n)
income = 18000 + 3500 * np.random.randn(n)

In [ ]:
data = pd.DataFrame(
{
    "Gender" : gender_data,
    "Economic Status" : income_data,
    "Height" : height,
    "Weight" : weight,
    "Age" : age,
    "Income" : income
}
)

In [ ]:
data.shape

In [ ]:
data

## Agrupación de datos

In [ ]:
grouped_gender = data.groupby("Gender")

In [ ]:
grouped_gender.groups

In [ ]:
for names, groups in grouped_gender:
    print(names)
    print(groups)

In [ ]:
grouped_gender.get_group("Female")

In [ ]:
double_group = data.groupby(["Gender", "Economic Status"])

In [ ]:
len(double_group)

In [ ]:
for names, groups in double_group:
    print(names)
    print(groups)

## Operaciones sobre datos agrupados

In [ ]:
double_group.sum()

In [ ]:
double_group.mean()

In [ ]:
double_group.size()

In [ ]:
double_group.describe()

In [ ]:
grouped_income = double_group["Income"]

In [ ]:
grouped_income.describe()

In [ ]:
double_group.aggregate({
    "Income" : np.sum,
    "Age" : np.mean,
    "Height" : np.std
})

In [ ]:
double_group.aggregate({
    "Age" : np.mean,
    "Height" : lambda h:np.mean(h)/ np.std(h)
})

In [ ]:
double_group.aggregate([np.sum, np.mean, np.std])

In [ ]:
double_group.aggregate([lambda x:np.mean(x) / np.std(x)])